<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Toy Management</title>
        <link rel="icon" href="/static/images/logo.png" />
        <link rel="stylesheet" type="text/css" href="/static/css/nes-core.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/auth.css" />
    </head>
    <body>
        <img src="/static/images/cflower.png" class="main-logo" />
        <img src="/static/images/cring3.png" class="decorate" />
        <p class="pb-3">Authorized Personnel Only</p>
        <div class="login-frame">
            <div class="login-form">
                <label for="username">Username</label>
                <input type="text" id="username" class="nes-input" />
                <label for="password">Password</label>
                <input type="password" id="password" class="nes-input" />
                <div class="submit-btns">
                    <button type="button" id="login-btn" class="nes-btn submit-btn is-primary">Login</button>
                </div>
                <p id="resp-msg" class="alert alert-info">Please wait...</p>
            </div>
        </div>
    <img id="fireplace" src="/static/images/fireplace.png">
    </body>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/auth.js"></script>
</html>